.bola-test-container {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bola-description {
  flex: 1;
}
.bola-msgList {
  flex: 3;
  margin-bottom: 2%;
}
.bola-btn-div {
  flex: 1;
  text-align: right;
  margin-right: 5%;
}
