.TargetList {
  flex: 4;
}

.TargetListItem {
  display: flex;
  align-items: center;
}

.TargetListImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.TargetListEdit {
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  background-color: #3bb077;
  color: white;
  cursor: pointer;
  margin-right: 20px;
}

.TargetListDelete {
  color: red;
  cursor: pointer;
}

.import_api_options {
  display: flex;
  flex-direction: column;
}
