.file_details {
  display: flex;
  flex-direction: column;
}
.collection_name_container {
  margin-top: 10px;
  margin-left: 10px;
}
.file_type_container {
  margin-top: 10px;
  /* margin-left: 10px; */
  margin-right: 125px;
}
.file_upload_container {
  margin-top: 10px;
  text-align: center;
}
.error_text {
  color: red;
  font-size: 14px;
}
.collection_name_label {
  margin-right: 5px;
}
.file_type_label {
  margin-right: 5px;
}
.file_selector_label {
  margin-right: 5px;
}
