.newTarget {
  flex: 4;
}

.addTargetForm {
  margin-top: 10px;
}

.addTargetItem {
  width: 250px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.addTargetItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addTargetItem > input {
  padding: 10px;
}

.addTargetItem > select {
  padding: 10px;
}

.addTargetButton {
  margin-top: 10px;
  padding: 7px 10px;
  margin-left: 20px;
  border: none;
  border-radius: 10px;
  background-color: darkblue;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.ul-no-bullets {
  list-style-type: none;
  padding: 5px;
  margin: 0;
}
li {
  margin-bottom: 5px;
}

.btn-cluster {
  display: flex;
  align-items: center;
  justify-content: center;
}
